---
import TimeSection from "./TimeSection.astro";

const day1 = [
  {
    timestamp: "9:00 - 9:30",
    description: "Регистрация",
    is_start: true,
    is_end: false,
  },
  {
    timestamp: "9:30 - 9:45",
    description: "Церемония открытия",
    is_start: false,
    is_end: false,
  },
  {
    timestamp: "9:50 - 10:20",
    description:
      'Сессия "Сообщество GDSC: Цели и Глобальная Миссия". Спикер - Аскар Айтуов.',
    is_start: false,
    is_end: false,
  },
  {
    timestamp: "10:20 - 10:45",
    description: 'Сессия "Как побеждать на Хакатонах". Спикер: Заур Бердибеков',
    is_start: false,
    is_end: false,
  },
  {
    timestamp: "11:00 - 12:00",
    description:
      "Презентация компании-спонсора CROCOS и Обзор Технического Задания",
    is_start: false,
    is_end: false,
  },
  {
    timestamp: "12:00",
    description: "Начало хакатона",
    is_start: false,
    is_end: false,
  },
];
const day2 = [
  {
    timestamp: "9:00 - 9:30",
    description: "Регистрация",
    is_start: true,
    is_end: false,
  },
  {
    timestamp: "14:00",
    description: "Сабмит решений",
    is_start: false,
    is_end: false,
  },
  {
    timestamp: "15:00 - 18:00",
    description: "Питчинг проектов",
    is_start: false,
    is_end: false,
  },
  {
    timestamp: "19:00",
    description: "Церемония закрытия",
    is_start: false,
    is_end: true,
  },
];
---

<section class="py-28" id="agenda">
  <div class="max-w-5xl mx-auto">
    <h1 class="text-center text-3xl font-bold mb-8">Программа хакатона 🗓</h1>
    <div class="flex flex-wrap justify-around items-start content-center">
      <span class="max-w-md">
        <h2 class="text-center text-2xl my-6">День 1</h2>
        <ul class="timeline timeline-vertical">
          {
            day1.map((el) => (
              <TimeSection
                timestamp={el.timestamp}
                description={el.description}
                is_start={el.is_start}
                is_end={el.is_end}
              />
            ))
          }
        </ul>
      </span>
      <span class="max-w-md">
        <h2 class="text-center text-2xl my-6">День 2</h2>
        <ul class="timeline timeline-vertical">
          {
            day2.map((el) => (
              <TimeSection
                timestamp={el.timestamp}
                description={el.description}
                is_start={el.is_start}
                is_end={el.is_end}
              />
            ))
          }
        </ul>
      </span>
    </div>
  </div>
</section>
