---
import logo1 from "../img/crocos.png";
import logo2 from "../img/kaztourism.svg";
import logo3 from "../img/hiredvalley.png";
import logo4 from "../img/aitu-logo-3.png";
import logo5 from "../img/gds-logo.png";
---

<section class="py-24" id="sponsors">
  <h1 class="text-center text-3xl font-bold mb-8">Спонсоры 🪙</h1>
  <h2 class="text-center text-2xl font-semibold mb-6 text-gray-400">Генеральные спонсоры</h2>
  <div class="max-w-xl mx-auto flex-wrap flex justify-around items-center">
    <img src={logo2.src} alt="" width="100px">
    <img src={logo1.src} alt="" width="300px">
  </div>
  <h2 class="text-center text-2xl font-semibold mt-12 text-gray-400">Дополнительный спонсор</h2>
  <img src={logo3.src} alt="" width="300px" class="mx-auto my-4">
  <h1 class="text-center text-3xl font-bold mb-8 mt-14">Организаторы</h1>
  <div class="max-w-2xl mx-auto flex-wrap flex justify-around items-center">
    <img src={logo4.src} alt="" width="200px">
    <img src={logo5.src} alt="" width="200px">
  </div>
</section>
